
/* Colour References
green:     #79b044
right:     #dd5638
blue-grey: #3e4249
blue:      #55acee
red
*/

/* Colour References Atom Teletype site

#dda131
#e2ad4b
#8bbbae
#f6ebda
#494647
#e5b55d
#d39522
#939395
#1a1919
#333
#ffffff
#efdab9
#B7362C
#C96B39
#D5A140
#7FB19F
#719AC6
#46514D
#434B57
#EBDBBB
#343233
#78A796

end of Colour References Atom Teletype site */
